/* ============= SHARED ELEMENTS ============== */

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background-repeat: repeat;
  background-image: url(../images/bodybg.png);
}

section h1 {
  font-family: "Alegreya Sans SC";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 0;
}

section h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
}

h3 {
  margin-bottom: 0.3em;
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.secwhite h1, .secwhite h2, .secwhite p{ color: white; }

.secblack h1, .secblack h2, .secblack p{ color: black; }

.sectionsegment {
  padding-bottom: 60px;
}

section {
  padding: 60px 30px;
  box-sizing: border-box;
}

section.whoweare, section.testimonials, footer {
  background-color: #C44141;
}

.topmargin70 {
  margin-top: 70px;
}

.widthmanager {
  max-width: 360px;
  margin: 0 auto;
  display: block;
}

header, .hero {
  background-color: rgba(255, 255, 255, 0.7);
}

.button {
  margin: 10px;
  cursor: pointer;
}

.button a, .sendbutton {
    font-family: Roboto;
    font-size: 12px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #92F1DD;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: none;
    text-decoration: none;
    color: black;
}

.button a:hover {
  background-color: #75CDBA;
}

.button a:active {
  background-color: #5BAC9B;
  color: white;
}

.largebtn {
  margin-top: 60px;
  text-align: center;
}

.hideme {
  visibility: hidden;
}

/* =============== HEADER STUFF =============== */

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner {
  background-color: #C44141;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Montserrat";
  color: white;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  height: 35px;
}

.bannermessage {
  position: absolute;
  width: max-content;
  width: -moz-max-content;
}

.stepituplogo {
  width: 30%;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  max-height: 160px;
}

.logo {
  max-height: 160px;
}

.topnav {
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
}

.hamburger {
  display: flex;
}

.hamburger p, .exptext {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  padding-right: 5px;
}

.login a:hover, .signup a:hover {
  border-bottom: 2px solid #92F1DD;
  box-sizing: border-box;
}

.dropdownholder {
  line-height: 1.75em;
  box-sizing: border-box;
  width: 130px;
  height: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 1px solid lightgray;
  position: absolute;
  top: calc(50% - 16px);
  right: 20px;
  z-index: -10;
  overflow: hidden;

  display: none;
}

.linkblock {
  padding-left: 10px;
  cursor: pointer;
}

.login, .signup {
  box-sizing: border-box;
  padding-top: 10px;
  height: 38px;
}

.login a, .signup a {
  margin-right: 20px;
  vertical-align: middle;
}

.linkblock a, .login a, .signup a {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.linkblock:hover {
  background-color: #92F1DD;
  color: white;
}

/* ================== HERO ================= */

.hero {
  height: calc((150vw*9/16) - (30vw*.725 + 10px));
  margin-bottom: -40px;
}

video {
  position: absolute;
  top: 0;
  left: -25vw;
  width: 150vw;
  z-index: -100;
  background-color: white;
}

.ctaholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10%;
}

.famfav {
  position: absolute;
  right: 20px;
  top: 65vw;
  width: 100px;
  z-index: 10;
}

/* ============ DIVIDER RIBBONS =============== */

.ribbons {
  position: relative;
  height: 40px;
}

.ribbons img{
  width: 100%;
  height: 40px;
  position: absolute;
}


/* ================= WHO WE ARE =============== */

.whoweareimg, .ownerimage {
  width: 300px;
  margin: 0 auto;
  display: block;
}

.whoweareimg {
  height: calc(300px * 0.8);
}

.classcost {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 0 26px 125px;
  border-color: transparent transparent transparent #f45353;
}

.classcost p {
  position: absolute;
  margin: 0;
  left: -110px;
  top: -9px;
  color: white;
  font-weight: 500;
}

.classblock {
  position: relative;
  margin-bottom: 100px;
}

.classblock .classbtn, .classblock .dealbtn {
  float: right;
  position: relative;
  margin: 0;
  top: -45px;
}

.lightribbons {
  position: absolute;
  z-index: -20;
}

.lightribbons img {
  position: relative;
  z-index: -20;
  width: 200%;
  margin-top: -11%;
  margin-left: -45%;
}


.pricingblock {
  margin: 5px 47px 10px 20px;
  position: relative;
}

.pricingbg {
  position: absolute;
  width: 100%;
}

.priceamount {
  position: relative;
  top: -3px;
  left: -3px;
}

.pricingcost, .discountcost {
  position: relative;
  top: 8px;
  width: 127px;
  display: block;
  margin-left: 10px;
}

.pricingcost div, .discountcost div{
  color: white;
  font-family: "Roboto";
  display: inline;
}

.pricedollars, .pricesave {
  font-size: 18px;
  top: -16px;
  left: -5px;
  position: relative;
  font-weight: 300;
}

.pricesave {
    top: 0;
}

.pricemonth {
  position: relative;
  font-size: 18px;
  left: -1px;
  top: -3px;
  font-weight: 300;
}

.priceamount, .pricepct, .classesnumeral {
  font-size: 32px;
  font-weight: 500;
}

.classesnum {
  font-family: "Roboto";
  color: black;
  margin-left: -20px;
  margin-top: 12px;
}

.classesamount {
  font-size: 16px;
  display: inline;
  margin-left: 5px;
}

.classesnumeral {
  display: inline;
}

.pricingtext {
  position: relative;
  display: inline-flex;
  right: 0;
  height: 54px;
}

.aster {
  font-size: 12px;
  position: relative;
  top: -15px;
  left: 3px;
}

.caveat {
  font-family: "Roboto";
  position: relative;
  top: -70px;
  font-size: 12px;
  text-align: center;
}

.silhouette {
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bg1 {
  clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
}

.bg2 {
  clip-path: polygon(0% 0%, 52% 0%, 52% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 52% 0%, 52% 100%, 0% 100%);
}

.bg3 {
  clip-path: polygon(0% 0%, 64% 0%, 64% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 64% 0%, 64% 100%, 0% 100%);
}

.bg4 {
  clip-path: polygon(0% 0%, 76% 0%, 76% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 76% 0%, 76% 100%, 0% 100%);
}

.bg5 {
  clip-path: polygon(0% 0%, 88% 0%, 88% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 88% 0%, 88% 100%, 0% 100%);
}

.bg6 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.s1 {left: 41%; bottom: -29%;}
.s2 {left: 49%; bottom: -30%;}
.s3 {left: 65%; bottom: -28%;}
.s4 {left: 62%; bottom: -26%;}
.s5 {left: 88%; bottom: -23%;}
.s6 {left: 101%;}

.discountblock {
  width: 300px;
  margin: 60px auto 30px;
  position: relative;
}

.famsilhouette {
  margin-top: 0;
  position: relative;
  width: 55%;
  height: 55%;
}

.discountcost {
  display: inline-block;
  float: right;
  margin-right: -5px;
  margin-top: 23px;
}

.discounttext {
  display: inline;
  position: absolute;
  top: 72px;
  left: 57%;
}

.classes h2 {
  position: relative;
  left: 140px;
  text-align: left;
}

.classimage {
  position: absolute;
  height: 125px;
  text-align: center;
  top: -25px;
}

.expander {
  margin-bottom: 5px;
  margin-top: 60px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.exptext {
  display: inline;
}

.expansionarea {
  height: 0;
  overflow: hidden;
}

.classtime {
  padding-top: 5px;
}

.classtime p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.classblock .dealbtn {
  top: 8px;
}

/* ================= TESTIMONIALS =============== */

.testimonialwrapper {
  display: flex;
  flex-wrap: none;
    width: 10000%;
}

.testimonials .widthmanager {
  overflow-x: hidden;
}

.testimonialblock {
  margin-right: 320px;
  width: 300px;
  background-image: url('../images/quotemark.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.testimonialtext {
  padding-left: 20px;
  padding-top: 20px;
  text-indent: 20px;
}

.quotename {
  text-align: right;
  padding-top: 20px;
}

.testimonialradios {
  color: #92F1DD;
  text-align: center;
}

.testimonialradios i {
  cursor: pointer;
}

/* ================= CONTACT US =============== */

form {
  padding-top: 0;
  padding-bottom: 80px;
  text-align: center;
}

input:not(.sendbutton), textarea {
  border-radius: 12px;
  box-shadow: inset 2px 2px 3px 0 rgba(0,0,0,0.5);
  border: 1px solid black;
  width: calc(100% - 15px);
  padding-left: 15px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: lightgray;
  margin-top: 15px;
  margin-bottom: 15px;
}

input:not(.sendbutton) {
  height: 50px;
}

textarea {
  height: 300px;
  padding-top: 20px;
}

pre, .hours, .callblock p {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 22px;
  margin-bottom: -10px;
}

.sendbutton, .visitbutton {
  position: relative;
  float: right;
}

.hours {
  clear: both;
  padding-top: 40px;
}

.hoursofop {
  font-size: 18px;
  padding-top: 20px;
  margin-left: 0;
  margin-bottom: 20px;
}

.callblock {
  margin-bottom: 60px;
}

.callblock p {
  text-align: center;
}


/* ================= FOOTER =============== */

footer {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.footeraddress, .legalese {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.footermid {
  display: none;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 10px;
}

.socialmedia img {
  cursor: pointer;
}

.attribution {
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 300;
}


/* ========================================== */
/* ================ RESPONSIVE ============== */
/* ========================================== */

@media (min-width: 768px) {

  .topnav {
    align-items: flex-start;
    padding-top: 20px;
  }

  .login, .signup {
    padding-top: 9px;
  }

  .dropdownholder {
    top: 23px;
  }

  .hero {
    max-height: 470px;
  }

  .famfav {
    right: 40px;
    top: 550px;
    width: 100px;
  }

  .whoweare h1 {
    width: 100%;
  }

  .whoweare {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sectionsegment {
  margin-left: 26px;
  margin-right: 26px;
  }

  .sectionsegment p {
    width: 300px;
  }

  .caveat {
    top: 20px;
  }

  .aboutsegment {
    width: 500px;
  }

  .classes .widthmanager {
    max-width: 600px;
    height: 302px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .pricingblock {
    margin: 5px 0 10px 0;
    display: grid;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .pricingblock {
      display: block;
    }
  }

  .s1 {
    bottom: -35%;
  }

  .s2 {
    bottom: -34%;
  }

  .s4 {
    bottom: -33%;
  }

  .s5 {
    bottom: -32%;
  }

  .s6 {
    bottom: -34%;
  }

  .classescontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .classblock {
    width: 330px;
    margin: 30px 10px;
  }

  .classblock .subtitle {
    position: relative;
    top: 47px;
  }

  .classblock .lightribbons {
    top: 25px;
    overflow-x: hidden;
    padding-top: 28px;
  }

  .deals {
    position: relative;
    margin: 30px auto;
  }

  .classimage {
    top: 10px;
  }

  .expander {
    margin-top: 100px;
  }

  .testimonials .widthmanager {
    max-width: 700px;
    overflow-y: hidden;
  }

  .testimonialblock {
    margin-right: 80px;
  }

  .testimonialradios {
    margin-top: 40px;
  }

  .testimonialradios i:nth-child(n+4) {
    display: none;
  }

  .testimonialtext {
    padding-right: 40px;
    width: 300px;
  }

  .contactus .widthmanager {
    max-width: 650px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .formblock {
    width: 300px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}








@media (min-width: 1110px) {

  .whoweare .sectionsegment {
    margin-left: 85px;
    margin-right: 85px;
  }
}







@media (min-width: 1440px) {

  video {
    left: 0;
    width: 100vw;
  }

  .ctaholder {
    padding-top: 0;
  }

  .hamburger {
    display: none;
  }

  .linkblock a, .login a, .signup a {
    margin: 0 10px;
  }

  .signup, .login {
    margin-right: 20px;
  }

  .dropdownholder {
    z-index: auto;
    line-height: 1.15;
    box-sizing: border-box;
    width: auto;
    height: 38px;
    background-color: inherit;
    box-shadow: none;
    border-radius: inherit;
    border: none;
    position: relative;
    top: 0;
    right: 20px;
    z-index: auto;
    overflow: hidden;
    padding-top: 10px;

    display: inherit;
  }

  .linkblock a:hover {
    border-bottom: 2px solid #92F1DD;
    box-sizing: border-box;
  }

  .linkblock:hover {
    background-color: rgba(0,0,0,0);
    color: black;
  }

  .whoweare .sectionsegment {
    margin-left: 22px;
    margin-right: 22px;
  }

  .widecolumn {
    display: flex;
    height: 310px;
  }

  .widthmanager {
    width: 600px;
  }

  .discountblock {
    width: 330px;
    height: 300px;
  }

  .classblock:not(.deals) {
    margin: 30px 20px;
  }

  .testimonials .widthmanager {
    width: 1200px;
    max-width: 1200px;
  }

  .contactus .widthmanager {
    width: 650px;
  }

}
