/* ============= SHARED ELEMENTS ============== */

section h1 {
  font-family: "Alegreya Sans SC";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 65px;
}

section h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

section p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
}

h3 {
  margin-bottom: 0.3em;
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.secwhite h1, .secwhite h2, .secwhite p{ color: white; }

.secblack h1, .secblack h2, .secblack p{ color: black; }

.sectionsegment {
  padding-bottom: 100px;
}

section.whoweare, section.testimonials, footer {
  background-color: #C44141;
  padding: 60px 20px;
  box-sizing: border-box;
}

.topmargin70 {
  margin-top: 70px;
}

/* =============== HEADER STUFF =============== */

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.stepituplogo {
  width: 30%;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
}

.topnav {
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
}

.hamburger {

  display: flex;

  @media (min-width: 1024px) {
    display: none;
  }
}

.hamburger p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  padding-right: 5px;
}

.hamburger img {

}

.dropdownholder {
  line-height: 1.75em;
  box-sizing: border-box;
  width: 130px;
  height: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 2px;
  border: 1px solid lightgray;
  position: absolute;
  top: calc(50% - 22px);
  right: 20px;
  z-index: -10;
  overflow: hidden;

  display: none;

  @media (min-width: 1024px) {
    display: inherit;
  }
}

.linkblock {
  padding-left: 10px;
  cursor: pointer;
}

.linkblock a {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.linkblock:hover {
  background-color: #92F1DD;
  color: white;
}

/* ================== HERO ================= */

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vw;
  z-index: -100;
}

.ctaholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20% 0;
}

.button {
  margin: 10px;
  cursor: pointer;
}

.button a {
    font-family: Roboto;
    font-size: 12px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #92F1DD;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

/* ============ DIVIDER RIBBONS =============== */

.ribbons {
  position: relative;
  height: 40px;
}

.ribbons img{
  width: 100vw;
  height: 40px;
  position: absolute;
}


/* ================= WHO WE ARE =============== */

.whoweareimg {
  width: 70vw;
  height: calc(70vw * 0.8);
  margin: 0 calc(15vw - 20px);
}

.classcost {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 0 26px 125px;
  border-color: transparent transparent transparent #f45353;
}

.classcost p {
  position: absolute;
  margin: 0;
  left: -110px;
  top: -9px;
  color: white;
  font-weight: 500;
}

.classblock {
  position: relative;
  margin-bottom: 100px;
}

.classblock .classbtn, .classblock .dealbtn {
  float: right;
  position: relative;
  right: 20px;
  margin: 0;
  top: -45px;
}

.lightribbons {
  position: absolute;
  z-index: -20;
}

.lightribbons img {
  width: 200%;
  margin-top: -11%;
  margin-left: -45%;
}


.pricingblock {
  position: relative;
  margin: 20px 20px 40px;
  position: relative;
}

.pricingbg {
  position: absolute;
  z-index: -1;
  width: 15
}

.pricingcost {
  position: relative;
  top: 18px;
  width: 127px;
  text-align: center;
  display: inline-block;
}

.pricingcost div{
  color: white;
  font-family: "Roboto";
  display: inline;
}

.pricedollars {
  font-size: 18px;
  top: -15px;
  left: -5px;
  position: relative;
  font-weight: 300;
}

.pricemonth {
  position: relative;
  font-size: 18px;
  left: 5px;
  top: 5px;
  font-weight: 300;
}

.priceamount {
  font-size: 32px;
  font-weight: 500;
}

.pricingtext {
  position: relative;
  display: inline-flex;
  right: 0;
  width: 166px;
  height: 54px;
  padding-left: 20px;
}

.silhouette {
  margin: 10px -1px -1px 0;
  height: 100px
}

.pricingunderline {
  background-color: black;
  height: 2px;
  width: 100%;
  margin-top: -5px;
}



.classimage {
  width: 100%;
  height: 118px;   /* delete later */
}

.classdescription {
  padding: 0 20px;
}

.classtime {
  padding-left: 20px;
  padding-top: 5px;
}

.classtime p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.classblock .dealbtn {
  top: 8px;
}
